@if (@ViewBag.ThisStudent.Year == 1)
{
  <div class="px-5 text-center min-vh-25">
    <h3 class="handwriting">@ViewBag.ThisStudent.House</h3>
    <h3 class="handwriting">First Years</h3>
  </div>
  <ul class="list-group list-group-flush bg-transparent">
    <li class="list-group-item text-center  bg-transparent">
      <h2>Monday</h2>
    </li>
    <li class="list-group-item  bg-transparent fs-5 fw-bolder"><span class="time">9:15</span> Transfiguration</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">11:45</span> History of Magic</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">14:15</span> Potions</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">16:45</span> Charms</li>
  </ul>
  <hr>
  <ul class="list-group list-group-flush bg-transparent">
    <li class="list-group-item text-center bg-transparent">
      <h2>Tuesday</h2>
    </li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">9:15</span> Transfiguration</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">11:45</span> History of Magic</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">14:15</span> Potions</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">16:45</span> Charms</li>
  </ul>
  <ul class="list-group list-group-flush bg-transparent">
    <li class="list-group-item text-center bg-transparent">
      <h2>Wednesday</h2>
    </li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">9:15</span> Transfiguration</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">11:45</span> History of Magic</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">14:15</span> Potions</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">16:45</span> Charms</li>
  </ul>
  <ul class="list-group list-group-flush bg-transparent">
    <li class="list-group-item text-center bg-transparent">
      <h2>Thursday</h2>
    </li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">9:15</span> Transfiguration</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">11:45</span> History of Magic</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">14:15</span> Potions</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">16:45</span> Charms</li>
  </ul>
  <ul class="list-group list-group-flush bg-transparent">
    <li class="list-group-item text-center bg-transparent">
      <h2>Friday</h2>
    </li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">9:15</span> Transfiguration</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">11:45</span> History of Magic</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">14:15</span> Potions</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">16:45</span> Charms</li>
  </ul>

}
else
@if (@ViewBag.ThisStudent.Year == 2)
{
  <div class="px-5 text-center min-vh-25">
    <h3 class="handwriting">@ViewBag.ThisStudent.House</h3>
    <h3 class="handwriting">Second Years</h3>
  </div>
  <ul class="list-group list-group-flush bg-transparent">
    <li class="list-group-item text-center  bg-transparent">
      <h2>Monday</h2>
    </li>
    <li class="list-group-item  bg-transparent fs-5 fw-bolder"><span class="time">9:15</span> Transfiguration</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">11:45</span> History of Magic</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">14:15</span> Potions</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">16:45</span> Charms</li>
  </ul>
  <hr>
  <ul class="list-group list-group-flush bg-transparent">
    <li class="list-group-item text-center bg-transparent">
      <h2>Tuesday</h2>
    </li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">9:15</span> Transfiguration</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">11:45</span> History of Magic</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">14:15</span> Potions</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">16:45</span> Charms</li>
  </ul>
  <ul class="list-group list-group-flush bg-transparent">
    <li class="list-group-item text-center bg-transparent">
      <h2>Wednesday</h2>
    </li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">9:15</span> Transfiguration</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">11:45</span> History of Magic</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">14:15</span> Potions</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">16:45</span> Charms</li>
  </ul>
  <ul class="list-group list-group-flush bg-transparent">
    <li class="list-group-item text-center bg-transparent">
      <h2>Thursday</h2>
    </li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">9:15</span> Transfiguration</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">11:45</span> History of Magic</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">14:15</span> Potions</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">16:45</span> Charms</li>
  </ul>
  <ul class="list-group list-group-flush bg-transparent">
    <li class="list-group-item text-center bg-transparent">
      <h2>Friday</h2>
    </li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">9:15</span> Transfiguration</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">11:45</span> History of Magic</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">14:15</span> Potions</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">16:45</span> Charms</li>
  </ul>

}
else
@if (@ViewBag.ThisStudent.Year == 3)
{
  <div class="px-5 text-center min-vh-25">
    <h3 class="handwriting">@ViewBag.ThisStudent.House</h3>
    <h3 class="handwriting">Third Years</h3>
  </div>
  <ul class="list-group list-group-flush bg-transparent">
    <li class="list-group-item text-center  bg-transparent">
      <h2>Monday</h2>
    </li>
    <li class="list-group-item  bg-transparent fs-5 fw-bolder"><span class="time">9:15</span> Herbology</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">11:45</span> Care of Magical Creatures</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">14:15</span> Break</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">16:45</span> Divination</li>
  </ul>
  <hr>
  <ul class="list-group list-group-flush bg-transparent">
    <li class="list-group-item text-center bg-transparent">
      <h2>Tuesday</h2>
    </li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">9:15</span> Studies of Ancient Runes</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">14:15</span> Break</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">16:45</span> Apparition</li>
  </ul>
  <ul class="list-group list-group-flush bg-transparent">
    <li class="list-group-item text-center bg-transparent">
      <h2>Wednesday</h2>
    </li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">9:15</span> Defense Against the Dark Arts</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">11:45</span> Break</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">14:15</span> Charms</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">16:45</span> Arithmancy</li>
  </ul>
  <ul class="list-group list-group-flush bg-transparent">
    <li class="list-group-item text-center bg-transparent">
      <h2>Thursday</h2>
    </li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">9:15</span> Muggle Studies</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">11:45</span> History of Magic</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">14:15</span> Break</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">16:45</span> Arithmancy</li>
  </ul>
  <ul class="list-group list-group-flush bg-transparent">
    <li class="list-group-item text-center bg-transparent">
      <h2>Friday</h2>
    </li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">9:15</span> Care of Magical Creatures</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">11:45</span> Astronomy</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">14:15</span> Herbology</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">16:45</span> Charms</li>
  </ul>

}
else
@if (@ViewBag.ThisStudent.Year == 4)
{
  <div class="px-5 text-center min-vh-25">
    <h3 class="handwriting">@ViewBag.ThisStudent.House</h3>
    <h3 class="handwriting">Fourth Years</h3>
  </div>
  <ul class="list-group list-group-flush bg-transparent mt-3 ">
    <li class="list-group-item text-center  bg-transparent">
      <h2>Monday</h2>
    </li>
    <li class="list-group-item  bg-transparent fs-5 fw-bolder"><span class="time">9:15</span> Defense Against the Dark Arts</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">11:45</span> Charms</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">14:15</span> Herbology</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">16:45</span> Potions</li>
  </ul>
  <hr>
  <ul class="list-group list-group-flush bg-transparent mt-3 ">
    <li class="list-group-item text-center bg-transparent">
      <h2>Tuesday</h2>
    </li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">9:15</span> Transfiguration</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">11:45</span> History of Magic</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">14:15</span> Break</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">16:45</span> Charms</li>
  </ul>
  <ul class="list-group list-group-flush bg-transparent mt-3 ">
    <li class="list-group-item text-center bg-transparent">
      <h2>Wednesday</h2>
    </li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">9:15</span> Arithmancy</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">11:45</span> Care of Magical Creatures</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">14:15</span> Potions</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">16:45</span> Divinations</li>
  </ul>
  <ul class="list-group list-group-flush bg-transparent mt-3 ">
    <li class="list-group-item text-center bg-transparent">
      <h2>Thursday</h2>
    </li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">9:15</span> Transfiguration</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">11:45</span> Care of Magical Creatures</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">14:15</span> Studies of Ancient Runes</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">16:45</span> Charms</li>
  </ul>
  <ul class="list-group list-group-flush bg-transparent mt-3 ">
    <li class="list-group-item text-center bg-transparent">
      <h2>Friday</h2>
    </li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">9:15</span> Herbology</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">11:45</span> History of Magic</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">14:15</span> Divinations</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">16:45</span> Charms</li>
  </ul>

}
else
@if (@ViewBag.ThisStudent.Year == 5)
{
  <div class="px-5 text-center min-vh-25">
    <h3 class="handwriting">@ViewBag.ThisStudent.House</h3>
    <h3 class="handwriting">Fifth Years</h3>
  </div>
  <ul class="list-group list-group-flush bg-transparent mt-3 ">
    <li class="list-group-item text-center  bg-transparent">
      <h2>Monday</h2>
    </li>
    <li class="list-group-item  bg-transparent fs-5 fw-bolder"><span class="time">9:15</span> Defense Against the Dark Arts</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">11:45</span> Charms</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">14:15</span> Herbology</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">16:45</span> Potions</li>
  </ul>
  <hr>
  <ul class="list-group list-group-flush bg-transparent mt-3 ">
    <li class="list-group-item text-center bg-transparent">
      <h2>Tuesday</h2>
    </li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">9:15</span> Transfiguration</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">11:45</span> History of Magic</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">14:15</span> Break</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">16:45</span> Charms</li>
  </ul>
  <ul class="list-group list-group-flush bg-transparent mt-3 ">
    <li class="list-group-item text-center bg-transparent">
      <h2>Wednesday</h2>
    </li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">9:15</span> Arithmancy</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">11:45</span> Care of Magical Creatures</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">14:15</span> Potions</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">16:45</span> Divinations</li>
  </ul>
  <ul class="list-group list-group-flush bg-transparent mt-3 ">
    <li class="list-group-item text-center bg-transparent">
      <h2>Thursday</h2>
    </li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">9:15</span> Transfiguration</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">11:45</span> Care of Magical Creatures</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">14:15</span> Studies of Ancient Runes</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">16:45</span> Charms</li>
  </ul>
  <ul class="list-group list-group-flush bg-transparent mt-3 ">
    <li class="list-group-item text-center bg-transparent">
      <h2>Friday</h2>
    </li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">9:15</span> Herbology</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">11:45</span> History of Magic</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">14:15</span> Divinations</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">16:45</span> Charms</li>
  </ul>

}
else
@if (@ViewBag.ThisStudent.Year == 6)
{
  <div class="px-5 text-center min-vh-25">
    <h3 class="handwriting">@ViewBag.ThisStudent.House</h3>
    <h3 class="handwriting">Six Years</h3>
  </div>
  <ul class="list-group list-group-flush bg-transparent mt-3 ">
    <li class="list-group-item text-center  bg-transparent">
      <h2>Monday</h2>
    </li>
    <li class="list-group-item  bg-transparent fs-5 fw-bolder"><span class="time">9:15</span> Defense Against the Dark Arts</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">11:45</span> Charms</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">14:15</span> Herbology</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">16:45</span> Potions</li>
  </ul>
  <hr>
  <ul class="list-group list-group-flush bg-transparent mt-3 ">
    <li class="list-group-item text-center bg-transparent">
      <h2>Tuesday</h2>
    </li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">9:15</span> Alchemy</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">11:45</span> History of Magic</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">14:15</span> Break</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">16:45</span> Apparation</li>
  </ul>
  <ul class="list-group list-group-flush bg-transparent mt-3 ">
    <li class="list-group-item text-center bg-transparent">
      <h2>Wednesday</h2>
    </li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">9:15</span> Advanced Arithmancy Studies</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">11:45</span> Care of Magical Creatures</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">14:15</span> Potions</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">16:45</span> Divinations</li>
  </ul>
  <ul class="list-group list-group-flush bg-transparent mt-3 ">
    <li class="list-group-item text-center bg-transparent">
      <h2>Thursday</h2>
    </li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">9:15</span> Transfiguration</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">11:45</span> Apparation</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">14:15</span> Studies of Ancient Runes</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">16:45</span> Charms</li>
  </ul>
  <ul class="list-group list-group-flush bg-transparent mt-3 ">
    <li class="list-group-item text-center bg-transparent">
      <h2>Friday</h2>
    </li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">9:15</span> Herbology</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">11:45</span> Advanced Arithmancy Studies</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">14:15</span> Alchemy</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">16:45</span> Charms</li>
  </ul>

}
else
@if (@ViewBag.ThisStudent.Year == 7)
{
  <div class="px-5 text-center min-vh-25">
    <h3 class="handwriting">@ViewBag.ThisStudent.House</h3>
    <h3 class="handwriting">Seven Years</h3>
  </div>
  <ul class="list-group list-group-flush bg-transparent mt-3 ">
    <li class="list-group-item text-center  bg-transparent">
      <h2>Monday</h2>
    </li>
    <li class="list-group-item  bg-transparent fs-5 fw-bolder"><span class="time">9:15</span> Defense Against the Dark Arts</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">11:45</span> Charms</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">14:15</span> Herbology</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">16:45</span> Potions</li>
  </ul>
  <hr>
  <ul class="list-group list-group-flush bg-transparent mt-3 ">
    <li class="list-group-item text-center bg-transparent">
      <h2>Tuesday</h2>
    </li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">9:15</span> Alchemy</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">11:45</span> History of Magic</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">14:15</span> Break</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">16:45</span> Apparation</li>
  </ul>
  <ul class="list-group list-group-flush bg-transparent mt-3 ">
    <li class="list-group-item text-center bg-transparent">
      <h2>Wednesday</h2>
    </li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">9:15</span> Advanced Arithmancy Studies</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">11:45</span> Care of Magical Creatures</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">14:15</span> Potions</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">16:45</span> Divinations</li>
  </ul>
  <ul class="list-group list-group-flush bg-transparent mt-3 ">
    <li class="list-group-item text-center bg-transparent">
      <h2>Thursday</h2>
    </li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">9:15</span> Transfiguration</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">11:45</span> Apparation</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">14:15</span> Studies of Ancient Runes</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">16:45</span> Charms</li>
  </ul>
  <ul class="list-group list-group-flush bg-transparent mt-3 ">
    <li class="list-group-item text-center bg-transparent">
      <h2>Friday</h2>
    </li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">9:15</span> Herbology</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">11:45</span> Advanced Arithmancy Studies</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">14:15</span> Alchemy</li>
    <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">16:45</span> Charms</li>
  </ul>

}
<ul class="list-group list-group-flush bg-transparent">
  <li class="list-group-item text-center  bg-transparent">
    <h2>Meals</h2>
  </li>
  <li class="list-group-item  bg-transparent fs-5 fw-bolder"><span class="time">7:00 to 9:00</span> Breakfast</li>
  <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">12:45 to 14:00</span> Lunch</li>
  <li class="list-group-item bg-transparent fs-5 fw-bolder"><span class="time">17:45 to 19:45</span> Dinner</li>
</ul>
