@{
  ViewData["Title"] = "Hogwarts";
}
@using Hogwarts.ViewModels
@using Hogwarts.Models
@model RegisterViewModel

@if (User.Identity.IsAuthenticated && @ViewBag.ThisStudent.House != null)
{
  <div id=@ViewBag.ThisStudent.House class="full-size">
    <div id="frogs">
    </div>
    <div id="notice-board">
    </div>
    <a data-bs-toggle="modal" data-bs-target="#scheduleModal">
      <div class="card">
        <div class="card-body text-dark">
          Schedule
        </div>
      </div>
    </a>
    <div class="modal fade text-dark" id="scheduleModal" tabindex="-1" aria-labelledby="scheduleModalLabel" aria-hidden="true">
      <div class="modal-dialog ">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body bg-letter ">
            @Html.Partial("ClassList.cshtml")
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <div id="large-notice-board">
      <div id="schedule">

      </div>
    </div>
  </div>
}
else if (User.Identity.IsAuthenticated)
{
  //diagon alley shopping
  <div id="diagon-alley" class="full-size">
    <div class="overlay">
      <div class="pop-up">
        <div id="closed-letter"></div>
        <div id="acceptance-letter" class="letter">
          <img src="~/img/hogwarts_bw.png">
          <p>To: @ViewBag.ThisStudent.Title @ViewBag.ThisStudent.FirstName @ViewBag.ThisStudent.LastName</p>
          <p>Dear @ViewBag.ThisStudent.Title @ViewBag.ThisStudent.LastName</p>
          <p> We are pleased to inform you that you have been accepted at Hogwarts School of Witchcraft and Wizardy.</p>
          <p>Please find enclosed a lost of all necessary books and equipment</p>
          <p>Term begins on September 1st. We await your owl by no later than July 31st.</p>
          <p>Yours sincerely,</p>
          <p class="signature">Minerva McGonagall</p>
          <p>Minerva McGonagall</p>
          <p>Deputy Headmistress</p>
          <p class="letter-footer">HOGWARTS SCHOOL of WITCHCRAFT & WIZARDRY<br>Headmaster: Albus Dumbledore<br>(Order of Merlin, First Class, Grand Sorc., Chf. Warlock, Supreme Mugwump, International Confed. of Wizards)</p>
          <button type="button" id="open-shopping-list">Shopping List</button>
        </div>
        <div id="shopping-list" class="letter">
          <img src="~/img/hogwarts_bw.png">
          <h3>Uniform</h3>
          <p>First-year students will require:</p>
          <p> Three sets of plain work robes (black)</p>
          <p> One plain pointed hat (black) for day wear</p>
          <p> One pair of protective gloves (dragon hide or similar)</p>
          <p> One winter cloak (black, with silver fastenings)</p>
          <p>Please note that all pupil's clothes should carry name tags.</p>
          <h3>Uniform</h3>
          <p>All students should have a copy of each of the following:</p>
          <p> The Standard Book of Spells (Grade 1) by Miranda Goshawk</p>
          <p> A History of Magic by Bathilda Bagshot</p>
          <p> Magical Theory by Adalbert Waffling</p>
          <p> A Beginner's Guide to Transfiguration by Emeric Switch</p>
          <p> One Thousand Magical Herbs and Fungi by Phyllida Spore</p>
          <p> Magical Drafts and Potions by Arsenius Jigger</p>
          <p> Fantastic Beasts and Where to Find Them by Newt Scamander</p>
          <p> The Dark Forces: A Guide to Self-Protection by Quentin Trimble</p>
          <h3>OTHER EQUIPMENT</h3>
          <p> 1 wand</p>
          <p> 1 cauldron (pewter, standard size 2)</p>
          <p> 1 set glass or crystal phials</p>
          <p> 1 telescope</p>
          <p> 1 set brass scales</p>
          <p class="center">Students may also bring, if they desire, an Owl OR a Cat OR a Toad.<br>PARENTS ARE REMINDED THAT FIRST YEARS<br>ARE NOT ALLOWED THEIR OWN BROOMSTICK</p>
          <p class="letter-footer">HOGWARTS SCHOOL of WITCHCRAFT & WIZARDRY<br>Headmaster: Albus Dumbledore<br>(Order of Merlin, First Class, Grand Sorc., Chf. Warlock, Supreme Mugwump, International Confed. of Wizards)</p>
          <button type="button" id="open-shopping">Purchase</button>
        </div>
      </div>
    </div>
  </div>
  // pass sorting quiz
  <div id="the-great-hall" class="full-size">
    //pop-up window
    <div class="pop-up">
      <h1>Welcome to Hogwarts</h1>
      <p>The start-of-term banquet will begin shortly, but before you take your seats in the Great Hall, you will be sorted into your houses. The Sorting is a very important ceremony because, while you are here, your house will be something like your family within Hogwarts. You will have classes with the rest of your house, sleep in your house dormitory and spend free time in your house common room. </p>
      <p> The four houses are called Gryffindor, Hufflepuff, Ravenclaw and Slytherin. Each house has its own noble history and each has produced outstanding witches and wizards. While you are at Hogwarts, your triumphs will earn your house points, while any rule-breaking will lose house points. At the end of the year, the house with the most points is awarded the House Cup, a great honour. I hope each of you will be a credit to whichever house becomes yours. </p>

      <button type="button" id="start-sorting">Let the Sorting now begin</button>
      //hidden form
      <form id="sorting-quiz">
        <div class="form-group">
          <label>What would you rather be?</label>
          <label>
            <input type="radio" name="1" value="g" checked>
            Trusted
          </label>
          <label>
            <input type="radio" name="1" value="s" checked>
            Feared
          </label>
          <label>
            <input type="radio" name="1" value="h" checked>
            Liked
          </label>
          <label>
            <input type="radio" name="1" value="r" checked>
            Praised
          </label>
        </div>
        <div class="form-group">
          <label>What would you see in the Mirror of Erised?</label>
          <label>
            <input type="radio" name="2" value="s" checked>
            Myself, surrounded by riches.
          </label>
          <label>
            <input type="radio" name="2" value="h" checked>
            Myself, surrounded by my loving family and friends.
          </label>
          <label>
            <input type="radio" name="2" value="r" checked>
            Myself, knowledgable above all.
          </label>
          <label>
            <input type="radio" name="2" value="g" checked>
            Myself, experiencing a marvellous adventure.
          </label>
        </div>
        <div class="form-group">
          <label>The first Quidditch match of the season is approaching, and you can't wait to get involved. What role are you playing?</label>
          <label>
            <input type="radio" name="3" value="s" checked>
            Beater. I like having all that power.
          </label>
          <label>
            <input type="radio" name="3" value="g" checked>
            Seeker. I want the glory!
          </label>
          <label>
            <input type="radio" name="3" value="r" checked>
            Chaser. I like to be involved, and work as part of the team.
          </label>
          <label>
            <input type="radio" name="3" value="h" checked>
            I'll be in the crowd, making sure supporter morale is high!
          </label>
        </div>
        <div class="form-group">
          <label>You're allowed a pet at Hogwarts: an owl, a cat, or a toad. Which do you bring?</label>
          <label>
            <input type="radio" name="4" value="h" checked>
            Toad
          </label>
          <label>
            <input type="radio" name="4" value="g" checked>
            Owl
          </label>
          <label>
            <input type="radio" name="4" value="r" checked>
            Cat
          </label>
          <label>
            <input type="radio" name="4" value="s" checked>
            Super poisonous angry toad
          </label>
        </div>
        <div class="form-group">
          <label>It's Saturday, you've finished your homework, and you have some free time. You decide to spend some time away from your common room. Where do you go?</label>
          <label>
            <input type="radio" name="5" value="s" checked>
            The Forbidden Forest
          </label>
          <label>
            <input type="radio" name="5" value="r" checked>
            The Library
          </label>
          <label>
            <input type="radio" name="5" value="g" checked>
            The Room of Requirement
          </label>
          <label>
            <input type="radio" name="5" value="h" checked>
            The Lake
          </label>
        </div>
        <div class="form-group">
          <label>If you can make a potion that is going to guarantee you one thing, what is it gonna be?</label>
          <label>
            <input type="radio" name="6" value="h" checked>
            Love
          </label>
          <label>
            <input type="radio" name="6" value="g" checked>
            Glory
          </label>
          <label>
            <input type="radio" name="6" value="s" checked>
            Power
          </label>
          <label>
            <input type="radio" name="6" value="r" checked>
            Knowledge
          </label>
        </div>
        <div class="form-group">
          <label>You are approached by a Muggle who calls you a wizard. How would you react?</label>
          <label>
            <input type="radio" name="7" value="r" checked>
            Ask them to explain what they are talking about.
          </label>
          <label>
            <input type="radio" name="7" value="h" checked>
            Agree and walk away.
          </label>
          <label>
            <input type="radio" name="7" value="s" checked>
            Jinx them.
          </label>
          <label>
            <input type="radio" name="7" value="g" checked>
            Modify their memory.
          </label>
        </div>
        <div class="form-group">
          <label>You're having trouble mastering a new spell, and you've decided to ask for help. Who do you go to?</label>
          <label>
            <input type="radio" name="8" value="h" checked>
            My professor
          </label>
          <label>
            <input type="radio" name="8" value="s" checked>
            My house ghost
          </label>
          <label>
            <input type="radio" name="8" value="g" checked>
            My smartest friend
          </label>
          <label>
            <input type="radio" name="8" value="r" checked>
            The library
          </label>
        </div>
        <div class="form-group">
          <label>You're having trouble mastering a new spell, and you've decided to ask for help. Who do you go to?</label>
          <label>
            <input type="radio" name="9" value="s" checked>
            The Elder Wand
          </label>
          <label>
            <input type="radio" name="9" value="r" checked>
            The Resurrection Stone
          </label>
          <label>
            <input type="radio" name="9" value="g" checked>
            The Cloak of Inivisibilty
          </label>
          <label>
            <input type="radio" name="9" value="h" checked>
            No thanks, those things are dangerous!
          </label>
        </div>
        <div class="form-group">
          <label>Which of these magical events would you most like to experience?</label>
          <label>
            <input type="radio" name="10" value="r" checked>
            The Triwizard Tournament
          </label>
          <label>
            <input type="radio" name="10" value="g" checked>
            The Quidditch World Cup
          </label>
          <label>
            <input type="radio" name="10" value="s" checked>
            Halloween at Hogwarts
          </label>
          <label>
            <input type="radio" name="10" value="h" checked>
            Christmas at Hogwarts
          </label>
        </div>
        <div class="form-group">
          <label>We know that the Sorting Hat takes into account your preferences. So which Hogwarts house do you feel you identify with most closely?</label>
          <label>
            <input type="radio" name="11" value="g" checked>
            Gryffindor
          </label>
          <label>
            <input type="radio" name="11" value="h" checked>
            Hufflepuff
          </label>
          <label>
            <input type="radio" name="11" value="r" checked>
            Ravenclaw
          </label>
          <label>
            <input type="radio" name="11" value="s" checked>
            Slytherin
          </label>
        </div>
      </form>
    </div>
  </div>
}
else
{
  // request to register and/or login
  <div id="lake" class="full-size">
    <div class="video">
      <video src="..\video\HogwartsNight.mp4" loop muted autoplay></video>
    </div>

    <button type="button" style="z-index:1;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registerModal" id="showRegisterButton">
      Register
    </button>
    <div class="modal fade rounded" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header text-dark">
            <h5 class="modal-title" id="registerModalLabel">Register</h5>
            <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          @using (Html.BeginForm("Register", "Account", FormMethod.Post))
          {
            <div class="modal-body p-5 text-dark bg-light">
              <p class="mb-5 fs-6">Welcome to the Hogwarts registration page. Use the form below to register your student account and begin accessing all student materials.
              </p>
              <div class="form-group my-3">
                <label for="title">How should we address you?</label>
                <select name="Title" id="registerTitle" class="form-control">
                  <option>Mr.</option>
                  <option>Miss</option>
                </select>
              </div>
              <div class="form-group my-3">
                <label for="FirstName">What's your first name?</label>
                <input type="text" class="form-control" name="FirstName" id="registerFirstName">
              </div>
              <div class="form-group my-3">
                <label for="LastName">What's your last name?</label>
                <input type="text" class="form-control" name="LastName" id="registerLastName">
              </div>
              <div class="form-group my-3">
                @Html.LabelFor(user => user.Email)
                @Html.TextBoxFor(user=> user.Email, new {@id="registerEmail", @class="form-control"})
              </div>
              <div class="form-group my-3">
                @Html.LabelFor(user=> user.Password)
                @Html.PasswordFor(user=> user.Password,new {@id="registerPassword", @class="form-control"})
              </div>
              <div class="form-group my-3">
                @Html.LabelFor(user=> user.ConfirmPassword)
                @Html.PasswordFor(user=> user.ConfirmPassword,new {@id="registerConfirmPassword", @class="form-control"})
              </div>
              <div class="form-group my-3">
                <label for="Year">What's your year?</label>
                <input type="number" min=1 max=7 class="form-control" name="Year" id="registerYear">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Register</button>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
}
