@{
  ViewData["Title"] = "Hogwarts";
}
@using Hogwarts.ViewModels
@using Hogwarts.Models
@model RegisterViewModel


@if (User.Identity.IsAuthenticated && @ViewBag.ThisStudent.House != null)
{
  <div class="full-size">
    <img id="common-room-map" src="~/img/common_rooms/@(ViewBag.ThisStudent.House).png" usemap="#@(ViewBag.ThisStudent.House)-map" width="1600" height="800"></img>
    <map name="Slytherin-map">
      <area target="" alt="notice-board" title="notice-board" href="#" coords="534,164,633,195,644,312,618,332,590,338,543,312,524,232" shape="poly" data-bs-toggle="modal" data-bs-target="#largeNoticeModal">
      <area target="" alt="chocolate-frog" title="chocolate-frog" href="#" coords="173,582,221,565,282,582,276,629,255,645,177,645,152,605" shape="poly" data-bs-toggle="modal" data-bs-target="#frogModal" class="frogLink">
    </map>
    <map name="Gryffindor-map">
      <area target="" alt="chocolate-frog" title="chocolate-frog" href="#" coords="337,650,425,681,384,766,290,762,248,688" shape="poly" data-bs-toggle="modal" data-bs-target="#frogModal" class="frogLink">
      <area target="" alt="notice-board" title="notice-board" href="#" coords="329,226,399,253,394,404,331,466,248,424,248,271" shape="poly" data-bs-toggle="modal" data-bs-target="#largeNoticeModal">
    </map>
    <map name="Hufflepuff-map">
      <area target="" alt="chocolate-frog" title="chocolate-frog" href="#" coords="416,639,493,674,463,736,367,738,331,670" shape="poly" data-bs-toggle="modal" data-bs-target="#frogModal" class="frogLink">
      <area target="" alt="notice-board" title="notice-board" href="#" coords="282,232,341,267,339,380,281,438,210,393,204,253" shape="poly" data-bs-toggle="modal" data-bs-target="#largeNoticeModal">
    </map>
    <map name="Ravenclaw-map">
      <area target="" alt="chocolate-frog" title="chocolate-frog" href="#" coords="378,606,459,635,433,715,337,717,293,645" shape="poly" data-bs-toggle="modal" data-bs-target="#frogModal" class="frogLink">
      <area target="" alt="notice-board" title="notice-board" href="#" coords="396,318,470,360,477,498,401,553,313,506,306,346" shape="poly" data-bs-toggle="modal" data-bs-target="#largeNoticeModal">
    </map>
    @* <script>
      $("#common-room-map").on("click", function () {
      $("img#common-room-map").rwdImageMaps();
      $("img[usemap]").addClass("done");
      });
      </script> *@
    @* <a data-bs-toggle="modal" data-bs-target="#scheduleModal" class="schedule-sheet">
      <div class="card">
      <p class="card-body text-dark bg-letter" style="max-width: 200px; height: 200px;">
      Schedule
      </p>
      </div>
      </a>*@
    <div class="modal fade text-dark" id="scheduleModal" tabindex="-1" aria-labelledby="scheduleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-letter">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body bg-letter ">
            @Html.Partial("HomeRoom/ClassList.cshtml")
          </div>
          <div class="modal-footer bg-letter">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    @Html.Partial("HomeRoom/ChocolateFrog.cshtml")
    @Html.Partial("HomeRoom/NoticeBoard.cshtml")

  </div>
}
else if (User.Identity.IsAuthenticated)
{
  //diagon alley shopping
  <div id="diagon-alley" class="full-size">
    <div class="overlay">
      <div class="pop-up">
        <div id="closed-letter"></div>
        <div id="gif-letter" class="hide"><img src="~/img/hogwarts-letter.gif"></img></div>
        <div id="acceptance-letter" class="letter hide">
          @Html.Partial("HomeRoom/AcceptanceLetter.cshtml")
        </div>
        <div id="shopping-list" class="letter hide">
          @Html.Partial("HomeRoom/ShoppingList.cshtml")
        </div>
      </div>
    </div>
  </div>


  // pass sorting quiz
  <div id="the-great-hall" class="full-size hide">
    <div id="welcome">
      <div id="welcome-text">
        <h1>Welcome to Hogwarts</h1>
        <p>The start-of-term banquet will begin shortly, but before you take your seats in the Great Hall, you will be sorted into your houses. The Sorting is a very important ceremony because, while you are here, your house will be something like your family within Hogwarts. You will have classes with the rest of your house, sleep in your house dormitory and spend free time in your house common room. </p>
        <p>&emsp;&emsp;The four houses are called Gryffindor, Hufflepuff, Ravenclaw and Slytherin. Each house has its own noble history and each has produced outstanding witches and wizards. While you are at Hogwarts, your triumphs will earn you house points, while any rule-breaking will lose house points. At the end of the year, the house with the most points is awarded the House Cup, a great honour. I hope each of you will be a credit to whichever house becomes yours. </p>
        <button type="button" id="start-sorting">Let the Sorting now begin</button>
      </div>
      @Html.Partial("HomeRoom/SortingQuiz.cshtml")
      <div id="sorting-result" class="hide">
        <h3>Congratulations!</h3>
        <p>Your house is <span id="new-house"></span></p>
        <button onclick="location.reload();" type="button">Visit Your Common Rooom</button>
      </div>
    </div>
  </div>
}
else
{
  // request to register and/or login
  <div id="lake" class="full-size">
    <div class="video">
      <video src="..\video\HogwartsArrival.mp4" loop muted autoplay></video>
    </div>
    <button type="button" style="z-index:1;" data-bs-toggle="modal" data-bs-target="#loginModal" id="showRegisterButton">
      Login
    </button>
    <div class="modal fade rounded" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header text-dark">
            <h5 class="modal-title text-white" id="loginModalLabel">Login</h5>
            <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          @using (Html.BeginForm("Login", "Account", FormMethod.Post))
          {
            <div class="modal-body p-5 text-dark bg-light">
              <p class="mb-5 fs-6">Welcome back! Please login below with your email and password.
              </p>
              <div class="form-group my-3">
                @Html.LabelFor(user => user.Email)
                @Html.TextBoxFor(user=> user.Email, new {@id="registerEmail", @class="form-control"})
              </div>
              <div class="form-group my-3">
                @Html.LabelFor(user=> user.Password)
                @Html.PasswordFor(user=> user.Password,new {@id="registerPassword", @class="form-control"})
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-light">Login</button>
            </div>
          }
        </div>
      </div>
    </div>
    <button type="button" style="z-index:1;" data-bs-toggle="modal" data-bs-target="#registerModal" id="showRegisterButton">
      Register
    </button>
    <div class="modal fade rounded" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header text-dark">
            <h5 class="modal-title" id="registerModalLabel">Register</h5>
            <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          @using (Html.BeginForm("Register", "Account", FormMethod.Post))
          {
            <div class="modal-body p-5 text-dark bg-light">
              <p class="mb-5 fs-6">Welcome to the Hogwarts registration page. Use the form below to register your student account and begin accessing all student materials.
              </p>
              <div class="form-group my-3">
                <label for="title">How should we address you?</label>
                <select name="Title" id="registerTitle" class="form-control">
                  <option>Mr.</option>
                  <option>Miss</option>
                </select>
              </div>
              <div class="form-group my-3">
                <label for="FirstName">What's your first name?</label>
                <input type="text" class="form-control" name="FirstName" id="registerFirstName">
              </div>
              <div class="form-group my-3">
                <label for="LastName">What's your last name?</label>
                <input type="text" class="form-control" name="LastName" id="registerLastName">
              </div>
              <div class="form-group my-3">
                @Html.LabelFor(user => user.Email)
                @Html.TextBoxFor(user=> user.Email, new {@id="registerEmail", @class="form-control"})
              </div>
              <div class="form-group my-3">
                @Html.LabelFor(user=> user.Password)
                @Html.PasswordFor(user=> user.Password,new {@id="registerPassword", @class="form-control"})
              </div>
              <div class="form-group my-3">
                @Html.LabelFor(user=> user.ConfirmPassword)
                @Html.PasswordFor(user=> user.ConfirmPassword,new {@id="registerConfirmPassword", @class="form-control"})
              </div>
              <div class="form-group my-3">
                <label for="Year">What's your year?</label>
                <input type="number" min=1 max=7 class="form-control" name="Year" id="registerYear">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" data-bs-dismiss="modal">Close</button>
              <button type="submit">Register</button>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
}
