@{
  Layout = "_Layout";
}

@model Hogwarts.Models.Student

<h2>Student Details</h2>
<h4>First Name: @Html.DisplayFor(model => model.FirstName)</h4>
<h4>Last Name: @Html.DisplayFor(model => model.LastName)</h4>
<h4>House: @Html.DisplayFor(model => model.House)</h4>
<h4>Year: @Html.DisplayFor(model => model.Year)</h4>
<h4>Wand: @Html.DisplayFor(model => model.Wand)</h4>

@if(@Model.JoinEntitiesCS.Count == 0)
{
  <p>This student is not enrolled in any classes.</p>
}
else
{
  <h4>Classes for which this student is enrolled:</h4>
  <ul>
  @foreach(var item in Model.JoinEntitiesCS)
  {
    <li>@Html.ActionLink($"{item.Course.CourseName}", "Details", "Courses", new { id = item.Course.CourseId })</li>
  }
  </ul> 
}
@* <p class="btn btn-primary">@Html.ActionLink("Add a Course", "AddCourse", new { id = Model.StudentId })</p> NEEDS CONTROLLER ROUTE *@
<p class="btn btn-primary">@Html.ActionLink("Edit Student Profile", "Edit", new { id = Model.StudentId })</p>
<p class="btn btn-primary">@Html.ActionLink("Expel Student", "Delete", new { id = Model.StudentId })</p>